{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% bootstrap_css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Raleway:ital,wght@1,200&display=swap');

        * {
            font-family: 'Hubballi', cursive;
        }
    </style>
</head>
<body>
<a href="{% url 'deck:index' %}" class="text-decoration-none text-dark">
    <div class="bg-primary shadow">
        <h1 class="text-center">Flashcard</h1>
    </div>
</a>
{% block content %}{% endblock %}
{% block javascript %}{% endblock %}
{% bootstrap_javascript %}
</body>
</html>